{% extends "layout.html" %}
{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{% block title %}Calculator{% endblock %}</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>
<div class="">

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
      <h4 class="alert-heading">Result</h4>
      <hr>
      {{ message }}
    </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form action="/" method="post">
    <div class="col-md-4">
      <label for="FWD-tank">FWD Tank</label>
      <input class="form-control" name="FWD-tank" id="FWD-tank" placeholder="Lbs" type="number" min="0" max="1250" value="0">
      <label for="AFT-tank">AFT Tank</label>
      <input class="form-control" name="AFT-tank" id="AFT-tank" placeholder="Lbs" type="number" min="0" max="1250" value="0">
    </div>
    <div class="row g-3">
      <label for="nose-hold">Nose compartment</label>
      <input class="form-control" name="nose-hold" id="nose-hold" placeholder="Kg" type="number" min="0" max="136" value="0">
    </div>
    {% for i in range (1,8) %}
      <div class="row g-3">
        {% for j in ["A", "B", "C"] %}
          <div class="col-md-4">
            {% if i != 6 %}
              <label for="seat-{{i}}-{{j}}">{{i}}{{j}}</label>
            {% elif j == "C" %}
              <label for="seat-{{i}}-{{j}}">{{i}}{{j}}</label>
            {% endif %}
          <select class="form-select" name="seat-{{i}}-{{j}}" id="seat-{{i}}-{{j}}"{% if i == 6  and j != "C" %} style="visibility: hidden;" {% endif %}>
            <option value="0" style="background-color:white" selected="selected">Empty</option>
            <option value="86" style="background-color:orange">Male</option>
            <option value="68" style="background-color:green">Female</option>
            <option value="35" style="background-color:yellow">Child</option>
          </select>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    <div class="row g-3">
      <label for="tail-hold">Tail compartment</label>
      <input class="form-control" name="tail-hold" id="tail-hold" placeholder="Kg" type="number" min="0" max="227" value="0">
    </div>
    <button class="btn btn-primary" type="submit">Calculate</button>
  </form>
</div>

{% endblock %}
